.footer {
  border-top: 1px solid var(--terinary-bg-color);
  color: var(--secondary-drgreen-accent);
  padding: 10px 0px 4px 0px;
  font-size: 16px;
  text-align: center;
}
.odin {
  color: green;
}
.fa-code {
  font-size: 18px;
  color: red;
  transition: transform 0.5s ease-in-out;
}

.fa-github {
  font-size: 18px;
  color: blue;
  transition: transform 0.5s ease-in-out;
}

.fa-code:hover {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0) scale(1.1);
}

.fa-github:hover {
  transform: rotate(720deg) scale(1.2);
}

.odin:hover {
  transform: scale(1.2);
}
a {
  text-decoration: none;
}
